.App {
  text-align: center;
  background-color: rgba(133, 130, 224, 0.733);
}
* {
  font-family: 'Arial';
}
@media (max-width: 430px) {
  p {
    font-size: 12px;
  }

  input {
    width: 70px;
    padding: 4px;
  }
}
@media (max-width: 350px) {
  p {
    font-size: 11px;
  }

  input {
    width: 50px;
    padding: 3px;
  }
}
